 <% provide(:title, 'Rates')%>
 <div class="center jumbotron" id="home-banner">
    <h1>Rates</h1>
    <h2 id="home-text"> Here is what others have been paid for their trips</h2>
  </div>

<% if @rates.present? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Port Location</th>
        <th scope="col">Dray Location</th>
        <th scope="col">Price</th>
        <th scope="col">Comment</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
    <% @rates.each do |rate| %>
        <tr>
          <td><%= rate.date.to_date %></td>
          <td><%= rate.startCity %></td>
          <td><%= rate.endCity %></td>
          <td>$<%= rate.price %></td>
          <td><%= rate.comment %></td>
          <td><%= link_to 'View Details', rate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<h3>Just completed a trip? Add how much you were paid.</h3>
<button>
  <%= link_to 'New Rate', new_rate_path %>
</button>
