<p id="notice"><%= notice %></p>

<p>
  <strong>Port Location:</strong>
  <%= @rate.startCity %>
</p>

<p>
  <strong>Dray Location:</strong>
  <%= @rate.endCity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rate.date.to_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rate.price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rate.comment %>
</p>

<%= link_to 'Back', rates_path %>
